#!/usr/bin/env bash
set -euo pipefail

#dotenv # load .env file

# Watch & reload direnv on change
watch_file devshell.toml

# Polyfill nix (experimental :P) - see https://github.com/DavHau/nix-portable
if ! has nix; then
  echo "Nix is not installed - fetching nix-portable (experimental)"
  NIX_PORTABLE=$(fetchurl https://github.com/DavHau/nix-portable/releases/download/v009/nix-portable \
    'sha256-43Hcd9jNtP76zdLYq/m1zgE7s4Sis33ve5bo3LDXd5A=')
  echo "Copying $NIX_PORTABLE to .direnv/bin/nix"
  mkdir -p .direnv/bin
  cp "$NIX_PORTABLE" .direnv/bin/nix
  PATH_add "$(expand_path .direnv/bin)"

  nix develop
fi

# if [[ $(type -t use_flake) != function ]]; then
#   echo "ERROR: use_flake function missing."
#   echo "Please update direnv to v2.30.0 or later."
#   exit 1
# fi
# use flake